/old
/smbshrrep
/PresentationReport1/*
!/PresentationReport1/ConvexityMeausre_FirstProgressMeeting.pdf
/PresentationReport2/*
!/PresentationReport2/ConvexityMeausre_SecondProgressMeeting.pdf
/FinalPresentation
/__pycache__
/.ipynb_checkpoints
/oldcode.ipynb
/images/*
/shr/**/*.png
/shr/**/log.txt
